<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/dash/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/dash/assets/img/RoyLogo3.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Dashboard - Roy Admin
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/dash/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/dash/assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/dash/assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="#" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="/dash/assets/img/RoyLogo3.png" width="35px" height="35px">
          </div>
        </a>
        <a href="#" class="simple-text logo-normal">
          Roy Admin
          <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active">
            <a href="#">
              <i class="nc-icon nc-bank"></i>
              <p>Users</p>
            </a>
          </li>
          <li>
            <a href="/royapi/dashboard/reports">
              <i class="nc-icon nc-tile-56"></i>
              <p>Reports</p>
            </a>
          </li>
          <li>
            <a href="/royapi/dashboard/announcement">
              <i class="nc-icon nc-bell-55"></i>
              <p>Announcement</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo">Roy Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link btn-rotate" href="/royapi/dashboard/logout">
                  <i class="nc-icon nc-button-power"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Log Out</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <!-- <div class="panel-header panel-header-sm">


</div> -->
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Registered Users</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        User ID
                      </th>
                      <th>
                        Username
                      </th>
                      <th>
                        Email
                      </th>
                      <th>
                        Level
                      </th>
                      <th>
                        Reported
                      </th>
                      <th>
                        Total Answered
                      </th>
                      <th>
                        Total Asked
                      </th>
                      <th>
                        
                      </th>
                    </thead>
                    <tbody>
                      <% data.users.forEach(result => { %>
                        <tr>
                        <td>
                          <%= result.u_id %>
                        </td>
                        <td>
                          <%= result.username %>
                        </td>
                        <td>
                          <%= result.email %>
                        </td>
                        <td>
                          <%= result.level_name %>
                        </td>
                        <td>
                          <%= result.reported %>
                        </td>
                        <td>
                          <%= result.total_answered %>
                        </td>
                        <td>
                          <%= result.total_asked %>
                        </td>
                        <td>
                          <% if(result.u_status === 1) { %>
                            <form action="/royapi/dashboard/users/<%= result.u_id %>" method="post">
                              <input type="submit" name="Disable User" value="Disable User" class="btn btn-round btn-primary" style="background-color: red !important;"/>
                            </form>
                            <% } else { %>
                            <form action="/royapi/dashboard/users/<%= result.u_id %>/enable" method="post">
                              <input type="submit" name="Enable User" value="Enable User" class="btn btn-round btn-primary" />
                            </form>
                          <% } %>
                        </td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li>
                  <a href="#Android-URL" target="_blank">Android</a>
                </li>
                <li>
                  <a href="#iOS-URL" target="_blank">iOS</a>
                </li>
                <li>
                  <a href="https://www.iDevelopStudio.com" target="_blank">Licenses</a>
                </li>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by iDevelopStudio
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/dash/assets/js/core/jquery.min.js"></script>
  <script src="/dash/assets/js/core/popper.min.js"></script>
  <script src="/dash/assets/js/core/bootstrap.min.js"></script>
  <script src="/dash/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="/dash/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/dash/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/dash/assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="/dash/assets/demo/demo.js"></script>
</body>

</html>
